<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %-4relative [%thread] %-5level %logger{30} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <logger name="httpclient"><level value="warn"/></logger>
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>